In [2]:
import findspark

findspark.init('D:\spark-2.4.3-bin-hadoop2.7-256\spark-2.4.3-bin-hadoop2.7')

In [3]:
from pyspark.sql import SparkSession
import numpy as np
import pandas as pd
import pyarrow as pa
import pyarrow.parquet as pq

spark = SparkSession\
.builder.appName('demoMedium1')\
.enableHiveSupport()\
.getOrCreate()

In [13]:
import databricks.koalas as koalas
from pyarrow import csv

In [7]:
spark.conf.set('spark.sql.execution.arrow.enabled', 'false')

In [8]:
%timeit pdf = pd.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

6.61 s ± 40.1 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [9]:
%timeit kdf = koalas.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

5.98 s ± 396 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
spark.conf.set('spark.sql.execution.arrow.enabled', 'true')

In [28]:
%timeit pdf_witharrow = pd.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

The slowest run took 4.22 times longer than the fastest. This could mean that an intermediate result is being cached.
9.59 s ± 7.31 s per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [12]:
%timeit kdf1_witharrow = koalas.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

6.4 s ± 214 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%timeit table  = csv.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

443 ms ± 85.2 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [15]:
%timeit pdf1 = table.to_pandas()

537 ms ± 30.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [29]:
%timeit koalas_df = koalas.from_pandas(csv.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv').to_pandas())

8.87 s ± 234 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [26]:
koalas_df = koalas.from_pandas(pandas_df)

In [27]:
koalas_df.head(1)

C:\ProgramData\Anaconda3\lib\site-packages\pyarrow\__init__.py:157: UserWarning: pyarrow.open_stream is deprecated, please use pyarrow.ipc.open_stream
  warnings.warn("pyarrow.open_stream is deprecated, please use "

   Duration          Start date            End date  Start station number                                Start station  End station number                                  End station Bike number Member type
0      2762 2017-07-01 00:01:09 2017-07-01 00:47:11                 31289  Henry Bacon Dr & Lincoln Memorial Circle NW               31289  Henry Bacon Dr & Lincoln Memorial Circle NW      W21474      Casual

In [23]:
koalas.pyarrow.csv.read_csv('D:/Data world/2017-capitalbikeshare-tripdata/sample.csv')

pyarrow.Table
Duration: int64
Start date: timestamp[s]
End date: timestamp[s]
Start station number: int64
Start station: string
End station number: int64
End station: string
Bike number: string
Member type: string

In [ ]:
#pandas to spark
%timeit spark_df = spark.createDataFrame(pandas_df)

In [ ]:
#pandas to koalas
%timeit koalas_df = koalas.from_pandas(pandas_df)

In [5]:
spark.conf.set('spark.sql.execution.arrow.enabled', 'true')

In [6]:
#pandas to spark
%timeit spark_df = spark.createDataFrame(pandas_df)

3.39 s ± 293 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [7]:
#pandas to koalas
%timeit koalas_df = koalas.from_pandas(pandas_df)

9.93 s ± 420 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)